p {
  background-color: red;
}
.class-name {
  background-color: orange;
}
#id-name {
  background-color: yellow;
}
[dir] {
  background-color: greenyellow;
}
body div p {
  background-color: lightblue;
}
div > h4 {
  background-color: blue;
}
