p {
  background-color: red;
}
.class-name {
  background-color: orange;
}
#id-name {
  background-color: yellow;
}
[dir] {
  background-color: greenyellow;
}
body h5 {
  background-color: lightblue;
}
div > h4 {
  background-color: blue;
}
h3 + p {
  background-color: violet;
}
.class1.class2 {
  color: red;
}
